<nav id="nav">
        <div id="navbody">
            <div id="mainIcon">
                <div class="icons">
                    <i class="icon fas fa-sun"></i>
                    <i class="icon fas fa-globe-americas"></i>
                    <i class="icon far fa-snowflake"></i>

                </div>
                <a href="/">We-ather</a>
            </div>
            <div class="navitems">
                <span>
                    <a href="/">Home</a>
                    <a href="/Weather">Weather</a>
                    <a href="/about">About</a>
                </span>
            </div>
        </div>
    </nav> 



