<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opps!! Page not found</title>
    <link rel="stylesheet" href="./Css/root.css">
</head>

<style>
    #eroor404{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;

    }
    section>div{
        overflow: hidden;
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 600px;
    }
</style>

<body>
    <section id="eroor404">
        <div><img src="./Assests/Bgs/404 Page Not Found _Two Color.png" alt="404 page not" srcset=""></div>
        <h3>{{pageNotfound}}</h3>
        <p>Uh oh, we can’t seem to find the page you’re looking for</p>
        <h4>Go back to <a href="/">We-ather</a></h4>
        <a href="/">Home</a>
    </section>
</body>
</html>