<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We-ather | Local,National weather forcast</title>
    <link rel="stylesheet" href="./Css/root.css">
    <link rel="stylesheet" href="./Css/style.css">
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/fd1a296e6c.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation -->
    {{>nav}} <!--Creating reference of nav from partials-->



    <!-- Main -->
    <main>
       <section class="container-fluid">

       <section class="mainSection">
            <div class="welcomGret">
                <p>Welcom to</p>
                <h3 style="font-size: 1.8vw;"><span style="font-size: 3.8vw; color:var(--primary-color); font-family: 'Satisfy', cursive;">We</span><span style="color: var(--primary-color) ;font-size: 2.8vw; font-family: 'Satisfy', cursive">-ather</span> app where you can find National weather forcast</h3>
                <a href="/Weather" class="hmBtn"><span>Check now</span></a>
            </div>
            <div class="welcomGret">
                <img class="illustrations" src="./Assests/Bgs/Snow_Two Color.png" alt="">
            </div>
        </section>

        <section class="mainSection">
            <div class="welcomGret">
                <img class="illustrations" src="./Assests/Bgs/Weather_Isometric.png" alt="">
            </div>
            <div class="welcomGret">
                <p>Developed by Arghya Banerjee</p>
                <h3 style="font-size: 1.8vw;"><span style="font-size: 3vw; color:var(--primary-color); font-family: 'Satisfy', cursive;">We-ather</span> offers you to find any city, area's weather information.</h3>
                <a class="hmBtn" href="/about">Know more</a>
            </div>
        </section>

        <section class="mainSection">
            <div class="welcomGret">
                <p>Reliable with many options</p>
                <h3 style="font-size: 1.8vw;">Get weather report by City/Area Name, City/Area Postal Code</h3>
                <p>e.g. : [MUMBAI] or [700123]</p>
            </div>
            <div class="welcomGret">
                <img class="illustrations" src="./Assests/Bgs/Weather_Two Color.png" alt="" srcset="">
            </div>
        </section>

        <section class="mainSection">
            <div class="welcomGret">
                <img class="illustrations" src="./Assests/Bgs/undraw_Weather_app_re_kcb1.png" alt="" srcset="">
            </div>
            <div class="welcomGret">
                <p>Available all over the world</p>
                <h3 style="font-size: 1.8vw;">We Provide National and International both weather updates</h3>
                <p>e.g. : [London] , [Delhi] , [New York] , [Pune]</p>
            </div>
        </section>



        </section> 
    </main>

    <!-- Footer -->

</body>

</html>